<div class="card">
    <div class="lines"></div>
    <div class="imgBx">
        <img src="{{carta.img.url}}" alt="{{carta.nome}}">
    </div>
    <div class="content">
        <div class="details">
            <h2>
                {{carta.nome}}<br /><span>{{carta.tipo}}</span>
            </h2>
            <div class="data">
                <h3>{{carta.ataque}}<br /><span>Atk</span></h3>
                <h3>{{carta.vida}}<br /><span>Vida</span></h3>
                <h3>{{carta.habilidade.nome}}<br /><span>Following</span></h3>
            </div>
            <div class="actionBtn">
                <form action="{% url "fight" carta.pk %}">
                    <button>Usar</button>
                </form>
                <form action="{% url 'habilidades' carta.id %}">
                    <button class="btnOpen">Habilidades</button>
                </form>
            </div>
        </div>
    </div>
</div>